<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<th:block layout:fragment="content">
    <link href="/static/css/main.css" rel="stylesheet"/>
    <div class="top_wrap">
        <div>
            <button id="btn_all">전체 아이템</button>
            <button id="btn_lowestPriceItems">카테고리별 최저가</button>
            <button id="btn_lowestPriceBrandItems">최저가 브랜드</button>
            <select id="slt_lowestAndHighestPriceItems" class="slt_lowestAndHighestPriceItems">
                <option value="default">최저/최고가 브랜드</option>
                <th:block th:each="item,i : ${categoryList}">
                    <option th:value="${item.name}" th:text="${item.name}"></option>
                </th:block>
            </select>
        </div>
        </div>

        <div class="select_wrap">

    </div>
    <div id="content" class="content_wrap">
        <div class="instruction">
            상품 검색 방법을 선택해 주세요.
        </div>
        <div id="select_name" class="select_name"></div>
        <ul id="item_list">
        </ul>
        <div id="total_price" class="total_price"></div>
    </div>


    <script>

        function drawAllItemList(data){
            let content = ''
            data.forEach((e) => {
                content += `
                    <li>
                        <label>브랜드 : </label>
                        <span>${e.brand}</span>
                        <label>카테고리 : </label>
                        <span>${e.category}</span>
                        <label>가격 : </label>
                        <span>${e.price}</span>
                    </li>
                `
            })
            $('#item_list').html(content)
            $('#select_name').html('')
            $('#total_price').html('')
        }

        function drawLowestPriceItems(data){
            let content = ''
            if(data.lowestPriceList){
                data.lowestPriceList.forEach((e) => {
                    content += `
                        <li>
                            <label>브랜드 : </label>
                            <span>${e.brand}</span>
                            <label>카테고리 : </label>
                            <span>${e.category}</span>
                            <label>가격 : </label>
                            <span>${e.price}</span>
                        </li>
                    `
                })
            }
            $('#item_list').html(content)
            $('#select_name').html('')
            $('#total_price').html('총액 : ' + (data.totalPrice ?? 0) + ' 원')
        }

        function lowestPriceBrandItems(data){
            let content = ''
            if(data.lowestPrice){
                if(data.lowestPrice.category){
                    data.lowestPrice.category.forEach((e) => {
                        content += `
                            <li>
                                <label>카테고리 : </label>
                                <span>${e.category}</span>
                                <label>가격 : </label>
                                <span>${e.price}</span>
                            </li>
                        `
                    })
                }
                $('#select_name').html('브랜드 : ' + (data.lowestPrice.brand ?? ''))
                $('#total_price').html('총액 : ' + (data.lowestPrice.totalPrice ?? 0) + ' 원')
            }
            $('#item_list').html(content)
        }

        function lowestAndHighestPriceItems(data){
            let content = ''
            const low = data.lowestPriceList[0]
            const high = data.highestPriceList[0]
            if(low){
                content += `
                    <li>
                        <label>최저가</label>
                        <label>브랜드 : </label>
                        <span>${low.brand}</span>
                        <label>가격 : </label>
                        <span>${low.price}</span>
                    </li>
                `
            }
            if(high){
                content += `
                    <li>
                        <label>최고가</label>
                        <label>브랜드 : </label>
                        <span>${high.brand}</span>
                        <label>가격 : </label>
                        <span>${high.price}</span>
                    </li>
                `
            }

            $('#select_name').html('카테고리: ' + (data.category ?? ''))
            $('#total_price').html('')
            $('#item_list').html(content)
        }

        // 전체 아이템 클릭
        $('#btn_all').on('click', function(){

            $.ajax({
                url: '/api/allItems',
                type: 'get',
                datatype: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function(){
                    $('.loading_box').addClass('on');
                },
                complete: function(){
                    $('.loading_box').removeClass('on');

                },
                success: function(res){
                    if(res.data){
                        $('.instruction').html('전체 상품')
                        drawAllItemList(res.data)
                    }
                },
                error: function(err){
                    console.log(err.responseJSON.message)
                }
            })
        })

        // 카테고리별 최저가 클릭
        $('#btn_lowestPriceItems').on('click', function(){

            $.ajax({
                url: '/api/lowestPriceItems',
                type: 'get',
                datatype: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function(){
                    $('.loading_box').addClass('on');
                },
                complete: function(){
                    $('.loading_box').removeClass('on');

                },
                success: function(res){
                    if(res.data){
                        $('.instruction').html('카테고리 별로 최저가격인 브랜드와 가격을 조회하고 총액이 얼마인지 확인합니다.')
                        drawLowestPriceItems(res.data)
                    }
                },
                error: function(err){
                    console.log(err)
                }
            })
        })

        // 최저가 브랜드 클릭
        $('#btn_lowestPriceBrandItems').on('click', function(){

            $.ajax({
                url: '/api/lowestPriceBrandItems',
                type: 'get',
                datatype: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function(){
                    $('.loading_box').addClass('on');
                },
                complete: function(){
                    $('.loading_box').removeClass('on');

                },
                success: function(res){
                    if(res.data){
                        $('.instruction').html('단일 브랜드로 전체 카테고리 상품을 구매할 경우 최저가격인 브랜드와 총액이 얼마인지 확인합니다.')
                        lowestPriceBrandItems(res.data)
                    }
                },
                error: function(err){
                    console.log(err)
                }
            })
        })

        // 최저가 브랜드 클릭
        $('#slt_lowestAndHighestPriceItems').on('change', function(e){
            if(e.target.value === 'default') {
                $('.instruction').html('상품 검색 방법을 선택해 주세요.')
                $('#item_list').html('')
                $('#total_price').html('')
                $('#select_name').html('')
                return
            }
            $.ajax({
                url: `/api/lowestAndHighestPriceItems?categoryName=${e.target.value}`,
                type: 'get',
                datatype: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function(){
                    $('.loading_box').addClass('on');
                },
                complete: function(){
                    $('.loading_box').removeClass('on');

                },
                success: function(res){
                    if(res.data){
                        $('.instruction').html('특정 카테고리에서 최저가격 브랜드와 최고가격 브랜드를 확인하고 각 브랜드 상품의 가격을 확인합니다.')
                        lowestAndHighestPriceItems(res.data)
                    }
                },
                error: function(err){
                    console.log(err)
                }
            })
        })

    </script>
</th:block>
</html>